


<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/producto'>Producto</a>
        </li>
        <li>
            <a href='/listarproducto'>Listado de Producto</a>
        </li>
    </ul>
</nav>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
    {{ actualizar }}
</p>

<p>
    {{ actualizar._id}}
</p>

<div class="container">
    <h2 class="text-center m-4" style="color: brown;">
        Formulario de Actualización
    </h2>
    <form action="/update/{{actualizar._id}}" method="post">
        <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value={{actualizar.nombre}}> 
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" value={{actualizar.precio}}>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="text" class="form-control" id="imagen" name="imagen" value={{actualizar.imagen}}>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" value={{actualizar.descripcion}}>
            </div>
            <div class="m-5 text-center">
                <button type="submit" class="btn btn-outline-warning w-50">Actualizar Datos</button>
                <button type="reset" class="btn btn-outline-danger w-50 mt-4">Borrar Datos</button>
            </div>

    </form>
</div>


<script>
    
</script>