<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/producto'>Producto</a>
        </li>
        <li>
            <a href='/listarproducto'>Listado de Productos</a>
        </li>
    </ul>
</nav>


<h1>{{title}}</h1>
<p>Welcome to {{title}} - {{id}}</p>

{{producto}}

<div class="container text-center m-5">

    <div class="card mb-3" style="max-width: 1200px; height: 600px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src={{ producto.imagen }} class="img-fluid rounded-start" alt="hola">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.precio }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">{{ producto.descripcion }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>