<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/producto'>Producto</a>
        </li>
        <li>
            <a href='/listarproducto'>Listado de Productos</a>
        </li>
    </ul>
</nav>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container d-flex m-5">

    {{#each todosProductos}}

        <div class="card justify-content-between m-2" style="width: 30rem;">
            <img src={{ imagen }} class="card-img-top" alt="fotos de productos">
            <div class="card-body">
                <h5 class="card-title">{{ nombre }}</h5>
                <p class="card-text">{{ descripcion }}</p>
                <a href="/detalles/{{_id}}" class="btn btn-primary">Comprar</a>
                <form action="/delete/{{_id}}" method="post">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                <a href="/update/{{_id}}" class="btn btn-warning">Actualizar</a>
{{!--                 <form action="/update/{{_id}}" method="post">
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                </form>    --}}                 
            </div>
        </div>

    {{/each}}

</div>